<html lang="en">
<head>
<meta charset="UTF-8">

<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Pictogram</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<style>
.jumbotron{
    background-color:#2E2D88;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>

</head>

<body>
<div class="container">
  <div class="page-header">
    <h1>Pictogram</h1>
  </div>

  <div class="jumbotron">
      <p>
        <form action="/pictures/new" >
          <button type="submit" class = "btn btn-warning btn-lg">Add a picture</button>
        </form>
      </p>
    <p>
        <% if @pictures.any? %>
          <% @pictures.each do |picture| %>
            <p><%= image_tag picture.image.url(:thumb) %></p>
            <h3> <%= picture.name %> </h3><br/>
            <%= link_to "Like", picture_likes_path(picture), class: 'likes-link' %>
            <span class="likes_count"> <%= picture.likes.count %> </span>
            <%= 'like'.pluralize(picture.likes.count) %>
          <% end %>
        <% else %>
          No pictures yet
        <% end %>

  </div>


</div>






</body>
