<html lang="en">
<head>
<meta charset="UTF-8">

<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Pictogram</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<style>
.jumbotron{
    background-color:#2E2D88;
    color: grey;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.page-header {
  font-family: 'Pacifico', cursive;
}
.well {
  background-color: #d9d9f2;
}
#image-wrap {
  width: 70%;
  margin: 0 auto;
  height: 140px;
}
#pic-link {
  font-family: 'Pacifico', cursive;
}
</style>

</head>

<body>
<div class="container">
  <div class="page-header">
    <h1>Pictogram</h1>
  </div>
  <p>
    <form action="/pictures/new" >
      <button type="submit" class = "btn btn-warning btn-lg">Add a picture</button>
    </form>
  </p>

  <div class="jumbotron">

    <p>
      <div class="row">

        <% if @pictures.any? %>
          <% @pictures.each do |picture| %>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div id="image-wrap">
                <%= image_tag picture.image.url(:thumb) %>
              </div><br/>
              <div class="well well-sm">
                <h3> <%= picture.name %> </h3>
                <h6> <%= picture.comments %> </h6>
                <%= link_to picture_likes_path(picture), class: "likes-link" do %>
                  <div class="glyphicon glyphicon-ok">
                      <span id="pic-link">
                        Like
                      </span>
                  </div>
                  <% end %>
                <span class="likes_count"> <%= picture.likes.count %> </span>
                <%= 'like'.pluralize(picture.likes.count) %><br/>
                <%= link_to "Delete this picture", picture_path(picture), method: :delete %><br/>
                <h4>Comments on <%= picture.name %></h4>
                <%= link_to "Comment on #{picture.name}", new_picture_review_path(picture) %>


                <% if picture.reviews.any? %>
                  <ul>
                    <% picture.reviews.each do |review| %>
                      <li>
                        <%= review.thoughts %><br/>
                        <%= link_to "Delete this comment", picture_review_path(picture, review), method: :delete %>
                      </li>
                    <% end %>
                  </ul>
                <% else %>
                  <p>No comments.</p>
                <% end %>









              </div>

            </div>


          <% end %>
        <% else %>
          No pictures yet
        <% end %>

    </div>

  </div>


</div>






</body>
