<html lang="en">
<head>
<meta charset="UTF-8">

<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Bootstrap Tutorial</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<style>
  .jumbotron{
      background-color:#2E2D88;
      color:grey;
  }
  /* Adds borders for tabs */
  .tab-content {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px;
  }
  .nav-tabs {
      margin-bottom: 0;
  }
  .page-header {
    font-family: 'Pacifico', cursive;
  }
</style>

</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>Add a new picture</h1>
    </div>

    <div class="jumbotron">

      <p>
        <%= form_for @picture, html: {multipart: true} do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control'%>
          <%= f.label 'Description' %>
          <%= f.text_field :comments, class: 'form-control' %>
          <%= f.label :image, value: 'Select an image to upload:' %>
          <%= f.file_field :image, class: 'btn btn-primary btn-lg' %><br/>
          <%= f.submit class: 'btn btn-warning btn-lg', value: 'Add picture' %>
        <% end %>
      </p>

    </div>


  </div>


</body>
